/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
    padding: 80px;
}

.content-mid-header {
    background: #444;
    height: 20%;
    width: 80%;
}

.content-container {
    width: 100%;
    height: 100%;
}

.content {
    background: #D8D8D8;
    padding: 20px;
    width: 80%;
    height: 60%;
    text-align: center;
}